<div class="container">
    <div class="square one">
     <div class="inner-square">
      <a href="/about_me">
          <h1>about me.</h1>
      </a>                   
     </div> 
  </div>
  <div class="square two">
    <div class="inner-square">
      <a href="/projects">
        <h1>projects.</h1>                
      </a>
    </div>
  </div>
  <div class="square three">
    <div class="inner-square">
      <a href="/stories">
        <h1>stories.</h1>                
      </a>
    </div>
  </div>
  <div class="square four">
    <div class="inner-square">
      <a href="/contact_me">
        <h1>contact me.</h1>                
      </a>
    </div>
  </div>
</div>