<div class="container">
  <div class="center">
    <h1>projects.</h1> 
     <a href="http://www.respecttheweekend.com/"><h4><u>Respect The Weekend</u></h4></a>
      <p>How many people don't know what they are doing this weekend? </p>
      <p>The answer to that question: too many.</p>
      <p>This site is a place where people can create, share, and upvote unique weekend events. That way, when you are bored this weekend and looking for something to do, you've got a place to look.</p>
      <hr>
     <a href="http://www.rickjonespiano.org/"><h4><u>Rick Jones Piano</u></h4></a>
      <p>Some people don't know anything about technology. My dad is one of them.</p>
      <p>My father has been teaching piano for 26+ years, and has taught over 70,000+ piano lessons.</p>
      <p>I built this website as a way to say thank you to my dad and to help him get more business. </p>
      <hr>
     <a href="http://www.parkbenchprojects.com/"><h4><u>Parkbench Projects</u></h4></a>
      <p>Lots of people want to make a difference. There are lots of charities that do work internationally, but what if you want to make a difference today, and what if you want to make that difference in your local community? </p>
      <p>ParkBench projects is a site where people can create and share local community projects. People can donate hours or money to these projects. In some ways, it's like a Kickstarter for local and community projects.</p>
      <p>The site is still in beta, and has yet to have extensive testing. I built this with three friends from Dev Bootcamp where I learned how to program this summer.</p>
      <br>
      <br>
  </div>
</div>