<div class="container">
  <div class="center">
    <h2>Hello <span class="hire">Hire</span><span class="vue">Vue</span>, </h2>
    <p>My name is Dan Jones. You should hire me. Here's why:</p>

    <h4>I'm a Utahn. </h4>
      <p>I've moved away and travelled a lot, but I am a Utahn through and through.</p>

      <p>I grew up in Ogden, and <u> started eating green jello at age 6</u>. I don't eat fry sauce by the cup...I eat it by the gallon. </p>

      <p>When I'm not eating something involving green jello or fry sauce, you can find me running trails on Utah's mountains.</p>


    <h4>I'm not afraid of 100.</h4>
      <p>I'm not afraid to work 100 hours a week to become good. This summer, I was putting in 90-100 hours almost every week.</p>
      <p>I'm a junior dev and I don't have the most experience, but I've got the hunger, and I'm willing to put in the effort and time to become a great developer.
      </p>

    <h4>I'm a quick learner</h4>
      <p>I studied business at BYU and before going to Dev Bootcamp, I hadn't programmed much. This summer I learned <u>Ruby, Rails, Sinatra, HTML, CSS, JavaScript, JQuery, ActiveRecord, and some of everybody's favorite SQL.</u></p>

   <h4>I'm easy to work with.</h4>
     <p><a class="hire" href="www.linkedin.com/pub/priya-mathew/6/b78/930/"><u>Priya Matthews:</u></a>  "It was an amazing experience to get work with Dan Jones. It's rare to find someone so consistently positive, and his energy leads to an infectious virtuous cycle of hard work and great times. I'd go back to late nights coding with him in a heartbeat."</p>
     <p><a class="hire" href="www.linkedin.com/in/redsquirrel/"><u>Dave Hoover:</u></a> "Dan was much more than a student at Dev Bootcamp. He did learn a ton about software development while he was with us. On the flip side, I know there are many people (myself included) who would argue that Dan had a profound impact on our students and teachers alike, particularly when it comes to how to live more fully in the present. He has a remarkable ability to engage with people, which will serve him well as he builds software for others. "</p>
     <p><a class="hire" href="www.linkedin.com/pub/katherine-champagne/11/a64/aa7/"><u> Katherine Champagne:</u></a>"Dan was a complete joy to study with during the nine incredibly intense weeks of Dev Bootcamp. He is a hard worker, a true team player and an expert communicator."</p>

    <h4>I want to work at <span class="hire">Hire</span><span class="vue">Vue</span></h4>
      <p><i><span class="hire">Hire</span><span class="vue">Vue</span> is the most exciting startup in Utah.  </i><span class="hire">Hire</span><span class="vue">Vue</span> is filled with "A-Players." You've created a Dream Team, and that is why you have been able to build a game changing product.</p>

      <p>You are changing an industry, and your developers are solving real-world complex business-to-business challenges. </p>

       <p>I want to be around "A-Players". I want to be part of changing industry. I want to be at <span class="hire">Hire</span><span class="vue">Vue</span>.</p>
       

      <p>Please check out my <u><a class="hire" href="www.linkedin.com/in/danwjones/">linkedIn</a></u> and email me at <u><a class="hire" href="mailto:danwjones22@gmail.com">danwjones22@gmail.com</a></u>.</p>
      <br>
      <br>
  </div>
</div>