<div class="container">
  <div class="center">
    <h1>stories.</h1> 
      <p>Currently, I keep all my tales on another site. It's called 
        <a href="http://pizzainthemorning.com/" target="PizzaInTheMorning">Pizza in the Morning.</a></p>
  </div>
</div>