<div class="container">
  <div class="center">
    <h2>Hello Rain, </h2>
    <p>My name is Dan Jones. You should hire me. Here's why:</p>

    <h4>I'm a Utahn. </h4>
      <p>I've moved away and travelled a lot, but I am a Utahn through and through.</p>

      <p>I grew up in Ogden, and <u> started eating green jello at age 6.</u>I don't eat frysauce by the cup...I eat it by the gallon. </p>


    <h4>I'm not afraid of 100.</h4>
      <p>I'm not afraid to work 100 hours a week to become good. This summer, I was putting in 90-100 hours almost every week.</p>
      <p>I'm a junior dev and I don't have the most experience, but I've got the hunger, and I'm willing to put in the effort and time to become a great developer.
      </p>

    <h4>I'm a quick learner</h4>
      <p>I studied business at BYU. Before going to Dev Bootcamp, I hadn't programmed much. This summer I learned <u>Ruby, Rails, Sinatra, HTML, CSS, JavaScript, ActiveRecord, and some of everybody's favorite SQL.</u></p>

   <h4>I'm easy to work with.</h4>
     <p><a href="www.linkedin.com/pub/priya-mathew/6/b78/930/"><u>Priya Matthews:</u></a>  "It was an amazing experience to get work with Dan Jones. It's rare to find someone so consistently positive, and his energy leads to an infectious virtuous cycle of hard work and great times. I'd go back to late nights coding with him in a heartbeat."</p>
     <p><a href="www.linkedin.com/in/redsquirrel/"><u>Dave Hoover:</u></a> "Dan was much more than a student at Dev Bootcamp. He did learn a ton about software development while he was with us. On the flip side, I know there are many people (myself included) who would argue that Dan had a profound impact on our students and teachers alike, particularly when it comes to how to live more fully in the present. He has a remarkable ability to engage with people, which will serve him well as he builds software for others. "</p>
     <p><a href="www.linkedin.com/pub/katherine-champagne/11/a64/aa7/"><u> Katherine Champagne:</u></a>"Dan was a complete joy to study with during the nine incredibly intense weeks of Dev Bootcamp. He is a hard worker, a true team player and an expert communicator."</p>

    <h4>I want to work at Rain.</h4>
      <p>Honestly, <i>everyone I've talked to says that the people at Rain are awesome and incredible.</i></p>
      <p>Rain solves challenging problems for big and small brands. I love challenging problems. </p>
      <p>I want to be around incredible  people that solve challenging problems. </p> 

      <p>It would be an honor to be part of your team.</p>

      <p>Please check out my <u><a href="www.linkedin.com/in/danwjones/">linkedIn</a></u> and email me at <u><a href="mailto:danwjones22@gmail.com">danwjones22@gmail.com</a></u>.</p>

  </div>
</div>