<div class="container">
  <div class="center">
    <h1>about me.</h1>

    <h4>April 2013: I graduated from BYU.</h4>
    <h4>June  2013: I started learning web developement.</h4>
    <h4>September 2013: I graduated from Dev Bootcamp.</h4>
    
    <p>I'm proficient in Rails, Ruby, SQL, CSS, JavaScript, JQuery, and HTML.</p>
    
    <p>I love programming, writing, and people. My love of those three things has me wanting to make a difference. My determination is what will keep me working at them until I do.
    <div class="icons">
      <a class="twitter" href="http://www.twitter.com/dwj22"></a>
      <a class="github" href="http://www.github.com/vintagepenguin"></a>
      <a class="linkedin" href="http://www.linkedin.com/in/danwjones"></a>
      <a class="pinterest" href="http://www.pinterest.com/thedanjones/"></a>
      <a class="facebook" href="http://www.facebook.com/danwjones"></a>
    </div>
  </div>
</div>