<div class="container">
  <div class="center">
    <h1>contact me.</h1> 
    <h4>Be warned: I like to talk.</h4>
    <div class="icons">
      <a class="twitter" href="http://www.twitter.com/dwj22">twitter</a>
      <a class="github" href="http://www.github.com/vintagepenguin">github</a>
      <a class="linkedin" href="http://www.linkedin.com/in/danwjones">linkedin</a>
      <a class="pinterest" href="http://www.pinterest.com/thedanjones/">pinterest</a>
      <a class="facebook" href="http://www.facebook.com/danwjones">facebook</a>
      <a class="facebook" href="http://www.instagram.com/vintagepenguin">instagram</a>
    </div>
  </div>
</div>